#
# This file is managed by puppet class 'uwsgi::app'
#
# uwsgi app config for '<%= @name %>'
#

[uwsgi]
<% if @uid -%>
uid = <%= @uid %>
<% end -%>
<% if @gid -%>
gid = <%= @gid %>
<% end -%>
<%
if @application_options
  @application_options.sort.each do |key, value|
    if value.is_a? Array
      value.each do |v|
-%>
<%= key %> = <%= v%>
<%
      end
    else
-%>
<%= key %> = <%= value%>
<%
    end
  end
end
-%>
