#
# This file is managed by puppet
#


[uwsgi]
# try to autoload appropriate plugin if "unknown" option has been specified
autoload = true
# enable master process manager
master = true
# spawn 2 uWSGI emperor worker processes
workers = 2
# automatically kill workers on master's death
no-orphans = true
# place timestamps into log
log-date = true
logto = <%= @log_file %>
emperor = <%= @app_directory %>
uid = root
gid = root
set-vassals = enable-metrics=1
set-vassals = log-date=true
