
#
# This file is managed by the puppet class 'uwsgi'
#
# uWSGI Emperor process systemd service
#
[Unit]
Description=uWSGI Emperor
After=network.target

[Service]
Type=simple
ExecStart=<%= @binary_directory %>/uwsgi --die-on-term --ini <%= @config_file %>

[Install]
WantedBy=multi-user.target
